<div>
  <h1>Posts</h1>
  <ul>
    <% @posts.each do |post| %>
     <li><a href="<%= post.url %>"><%= post.title %></a> |  | <%= post.post_type %> | <%= post.post_author %> | <%= post.score %></li>
    <% end %>
  </ul>

</div>
